<!--<!DOCTYPE html>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<h1 th:text="${'hello world' +name}"></h1>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${name}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${student.getName()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${student.getAddress()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${student.getAveragePoint()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${studentDTO.getId()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${studentDTO.getName()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${studentDTO.getAddress()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${studentDTO.getClazz()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${studentDTO.getPoint()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<tr th:each="subjectDTO :${studentDTO.getSubjects()}">&ndash;&gt;-->
<!--&lt;!&ndash;    <td th:text="${subjectDTO.getId()}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td th:text="${subjectDTO.getName()}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;<tr th:each="s :${students}">&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${s.getId()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${s.getName()}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:text="${s.getAddress()}"></div>&ndash;&gt;-->

<a th:href="@{view/add-student}">Thêm sinh viên</a>
<!--</body>-->
<!--</html>-->