<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <title>Thêm danh mục</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1>Thêm phương thức thanh toán</h1>
    <form th:action="@{/add-paymentmethod}" th:object="${paymentmethod}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}"><br><br>

        <label for="notes">Notes:</label>
        <input type="text" id="notes" name="notes" th:field="*{notes}"><br><br>

<!--        <label for="createdDate">Created Date:</label>-->
<!--        <input type="datetime-local" id="createdDate" name="createdDate" th:field="*{createdDate}"><br><br>-->

<!--        <label for="updatedDate">Updated Date:</label>-->
<!--        <input type="datetime-local" id="updatedDate" name="updatedDate" th:field="*{updatedDate}"><br><br>-->

        <label for="isactive">Is Active:</label>
        <input type="number" id="isactive" name="isactive" min="0" max="1" th:field="*{isactive}"><br><br>

        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>