<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h1 th:text="${'hello world' +name}"></h1>-->
<!--<div th:text="${name}"></div>-->
<!--<div th:text="${student.getName()}"></div>-->
<!--<div th:text="${student.getAddress()}"></div>-->
<!--<div th:text="${student.getAveragePoint()}"></div>-->
<!--<div th:text="${studentDTO.getId()}"></div>-->
<!--<div th:text="${studentDTO.getName()}"></div>-->
<!--<div th:text="${studentDTO.getAddress()}"></div>-->
<!--<div th:text="${studentDTO.getClazz()}"></div>-->
<!--<div th:text="${studentDTO.getPoint()}"></div>-->
<!--<tr th:each="subjectDTO :${studentDTO.getSubjects()}">-->
<!--    <td th:text="${subjectDTO.getId()}"></td>-->
<!--    <td th:text="${subjectDTO.getName()}"></td>-->
<!--</tr>-->
<!--<tr th:each="s :${students}">-->
<!--<div th:text="${s.getId()}"></div>-->
<!--<div th:text="${s.getName()}"></div>-->
<!--<div th:text="${s.getAddress()}"></div>-->

    <a th:href="@{view/add-student}">Thêm sinh viên</a>
</body>
</html>