<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
  <title>Danh sách đơn hàng</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
  <h1>Danh sách đơn hàng</h1>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Id Ord</th>
      <th scope="col">Orders Date</th>
      <th scope="col">Total Money</th>
      <th scope="col">Notes</th>
      <th scope="col">Name Reciver</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="ord : ${orders}">
      <td th:text="${ord.id}"></td>
      <td th:text="${ord.idorders}"></td>
      <td th:text="${ord.ordersDate}"></td>
      <td th:text="${ord.totalMoney}"></td>
      <td th:text="${ord.notes}"></td>
      <td th:text="${ord.nameReciver}"></td>
      <td th:text="${ord.address}"></td>
      <td th:text="${ord.phone}"></td>
      <td>
        <span th:switch="${ord.status}">
          <span th:case="1">Đã đặt hàng</span>
          <span th:case="2">Đang chuẩn bị</span>
          <span th:case="3">Đang giao hàng</span>
          <span th:case="4">Đã giao hàng</span>
          <span th:case="5">Đã hủy</span>
        </span>
      </td>
<!--        <a th:href="@{/edit-orders/{id}(id=${ord.id})}"><i class="fas fa-edit"></i></a>-->
<!--        <a th:href="@{/delete-orders/{id}(id=${ord.id})}" onclick="return confirm('Do you want to delete this Orders?');"><i class="fas fa-trash-alt"></i></a>-->
      <td>
        <a th:href="@{/edit-orders/{id}(id=${ord.id})}">Chi tiết đơn hàng</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2K8uLxdYk9uxtv4LMhhgbvpsbC9h5gFask5FzYLoe4yvQh8FFu6hpjEhxm" crossorigin="anonymous"></script>
</body>
</html>